body{
    background-color: #fcf9ea;
  }
  
  hr {
  
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
  
  
  img {
    height: 110px;
    border-radius: 50%;
  }
  
  h1{
    color: #f8a978;
  }
  
  h3{
    color:#f8a978;
  }
  